body {
    margin-top: 0px;
    margin-bottom: 0px;
    width: auto;
    padding: 0px;
    background: linear-gradient(#5cd4ea, #b4f1a2);
}


#content {
    font-size: 1em;
    font-family: book Antiqua, Helvetica, sans-serif;
    width:60%;
    height: auto;
    padding-top: 0px;
    margin-top: 0px;
    margin: 0 auto;
    background-color: white;
    padding: 50px;
}



a {
    text-decoration: inherit;
    color: inherit;
}


header {
    padding: 0px;
    margin: 0px;

}


/*----Page Fragment links----*/

#top_links{
    margin-top: 0px;
    text-align: center;
    font-size: .8em;
    color: #bfbfbf;
    word-spacing:40px;
    padding-right: 55px;
    margin-bottom: 0px;
}

#top_links li{
    display: inline;
    text-align: center;
    list-style-type: none;
}

#top_links li:hover {
    cursor: pointer;
    color:darkblue;
}

/*----------------------------*/

.pheader {
    font-size: 1.1em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 5px;
}

.big_hr {
    border-width: 3px;
    border-style: solid;
    border-color: gray;
    margin-top: 12px;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: #e6e6e6;
}

img {
    width: 150px;

}


/*----image styling---------*/

/*#infoList {*/
/*      list-style: none;*/
/*      white-space: nowrap;*/
/*      overflow-x: auto;*/
/*      overflow-y: hidden;*/
/*      width: auto;*/
/*}*/


/*#infoList li{*/
/*      display: inline-block;*/
/*}*/

/*#topInfo {*/
/*      width: auto;*/
/*      float:left;*/
/*}*/

/*#imgLeft {*/
/*      float: left;*/
/*      margin-right: 0px;*/
/*      padding-right: 0px;*/
/*      margin-left: 40px; */
/*}*/

/*#imgRight {*/

/*      float: left;*/
/*      margin-left: 0px;*/
/*      padding-left: 0px;*/
/*}*/

/*#info_block { */
/*      margin-left:0px;*/
/*      margin-right:0px;*/
/*      padding-left:0px;*/
/*      padding-right:0px;*/
/*      float: left;*/
/*      text-align: center;*/
/*}*/




/*---Animation of Name ----*/

#fname {
    display: inline-block;
    animation: fname 3s linear;
}
#lname {
    display: inline-block;
    animation: lname 3s linear;
}


@keyframes fname {
    0% { transform: translate(-1000px);}
    100% { transform: translate(0px);}
}
@keyframes lname {
    0% { transform: translate(1000px);}
    100% { transform: translate(0px);}
}



/*---- Info Block ----*/

#info_block {
    text-align: center;
    margin-bottom: 40px;
}


#name {
    margin-top: 20px;
    font-size: 4em;
    margin-bottom: 2px;
}


#address {
    font-size: .9em;
    margin-top: .5px;
    font-style: italic;
    color: gray;
    margin-bottom: .5px;
}

#phone {
    font-size: .9em;
    font-style: italic;
    color: gray;
    margin-top: .5px;
}


/*----Professional summary----*/


#summary_block {
    display: block;
    width: auto;
    text-align: left;
}


#p_summary {
    margin-top: 1px;
}




/*--- Skills List -----*/


#skills_list {
    column-count: 2;
    margin-top: 1px;
}


#skills_list li {
    margin-left: 10px;
    line-height: 1.5;
}


/* --- class defs for job xp ----*/

.job_title {
    font-style: italic;
    color: gray;
}

.job_link {
    font-size: .9em;
}

.job_link:hover {
    color: darkblue;
    cursor: pointer;
}



footer {
    margin-top: 50px;
}




#back {
    text-align: right;
    color: gray;
}

#back:hover {
    color: darkblue;
    cursor: pointer;
}

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}